@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------------------------- BREAKPOINTS ---------------------------
 *  sm     md     lg     xl     2xl
 * 576px  768px  992px  1200px 1400px
 */



/* --------------------------- COLOR THEME --------------------------- */
$clr-text-primary: #464A53;
$clr-text-secondary: #868B98; // B0B1B5
$clr-bg-primary: #EBECF2;
$clr-bg-secondary: #E0E0E0;

$clr-gradient-primary-1: hsla(185, 100%, 75%, 1);
$clr-gradient-primary-2: hsla(225, 100%, 75%, 1);
$clr-gradient-primary-3: hsla(265, 100%, 75%, 1);
$clr-gradient-primary: linear-gradient(60deg,
                                       $clr-gradient-primary-1 0%,
                                       $clr-gradient-primary-2 50%,
                                       $clr-gradient-primary-3 100%);
@mixin gradient-primary-props($opacity: 1) {
    background: linear-gradient(60deg,
                                rgba($clr-gradient-primary-1, $opacity) 0%,
                                rgba($clr-gradient-primary-2, $opacity) 50%,
                                rgba($clr-gradient-primary-3, $opacity) 100%);
}

$clr-accent: $clr-gradient-primary-2;

$clr-neu-fill-1: #D4D4DA;
$clr-neu-fill-2: #FBFDFF;
$clr-neu-shadow-1: #FFFFFF;
$clr-neu-shadow-2: #BCBDC2;
$clr-card-shadow: #00000040;



/* --------------------------- BODY+NAVBAR --------------------------- */
body {
    overflow-x: hidden;
    overflow-y: overlay !important;
    scrollbar-gutter: stable both-edges;

    // TODO: Test after pull #51890 merge into stable
    font-family: var(--font-space-grotesk), "Noto Sans TC", sans-serif;
    // font-family: var(--font-space-grotesk), var(--font-noto-sans-tc);
}

.nav-link {
    --spacing: 0.2em;
    position: relative;
    
    letter-spacing: var(--spacing);
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - var(--spacing));
        height: 0.1rem;
        left: 0;
        bottom: -0.15em;

        background: $clr-text-primary;
        border-radius: 100vw;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }
}



/* --------------------------- LAYOUTS --------------------------- */
@mixin wrapper-props($m1: 4rem, $m2: 6rem, $w: 1400px) {
    --margin: #{$m1};
    width: min(100% - var(--margin), $w);
    margin-inline: auto;

    @media screen and (min-width: 576px) {
        --margin: #{$m2};
    }
}
.wrapper {
    @include wrapper-props;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.wrapper-sm {
    @include wrapper-props(2rem, 4rem, 1000px);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.wrapper-flex {
    @include wrapper-props;
    display: flex;
}
.wrapper-flex-sm {
    @include wrapper-props(2rem, 4rem, 1000px);
    display: flex;
}

.swiper {
    display: grid;
    max-width: 100%;
    padding: 4rem;
    gap: 6rem;
    grid-auto-flow: column;
    grid-auto-columns: max(40%, 300px);

    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}
.snap-inline {
    scroll-snap-type: inline mandatory;
}

.pill {
    border-radius: 100vw;
}



/* ---------------------------- COLORS --------------------------- */
.bg-primary {
    background-color: $clr-bg-primary;
}
.bg-primary-invert {
    background-color: $clr-text-primary;
}
.bg-secondary {
    background-color: $clr-bg-secondary;
}
.bg-gradient-primary-30 {
    @include gradient-primary-props(0.3);
}
.bg-accent {
    background-color: $clr-accent;
}

.text-primary {
    color: $clr-text-primary;
    // fill: $clr-text-primary;
}
.text-primary-invert {
    color: $clr-bg-primary;
}
.text-secondary {
    color: $clr-text-secondary;
}
.text-accent {
    color: $clr-accent;
}



/* ---------------------------- TEXTS ---------------------------- */
h1, h2 {
    max-width: fit-content;
    // text-wrap: balance;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;

    @media screen and (min-width: 576px) {
        font-size: 3.5em;
    }
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 2;
    text-align: justify;
}

span {
    font-size: 1em;
    line-height: 1.8;
}

.text-fineprint {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}

.text-primary-gradient {
    background: $clr-gradient-primary;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin bracket($fontSize: 175%, $fontWeight: normal) {
    display: flex;
    gap: 0.4ch;
    align-items: center;
    justify-content: center;

    &:before, &:after {
        display: inline-block;
        font-size: $fontSize;
        font-weight: $fontWeight;
        transform: translateY(-0.1em);
    }
    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }
}
.bracket-md {
    @include bracket;
}

.bracket-lg {
    @include bracket(250%, 300);
}



/* ---------------------------- STYLE ---------------------------- */
@mixin frost($amount) {
    backdrop-filter: blur($amount);
    -ms-backdrop-filter: blur($amount);
    -moz-backdrop-filter: blur($amount);
    -webkit-backdrop-filter: blur($amount);
}
.frost-25 {
    @include frost(0.25em);
}
.frost-50 {
    @include frost(0.5em);
}

.banner-filter {
    background: rgba($clr-bg-primary, 0.4);
    box-shadow: 0.5rem 0 1rem 0.1rem rgba($clr-neu-shadow-2, 0.5);
}

@mixin nue-concave($amount) {
    background: linear-gradient(135deg, rgba($clr-neu-fill-1, 0.85), rgba($clr-neu-fill-2, 0.85));
    box-shadow: (- $amount) (- $amount) (2 * $amount) $clr-neu-shadow-1,
                $amount $amount (2 * $amount) $clr-neu-shadow-2;
}
.nue-concave-75 {
    @include nue-concave(0.75em);
}
.nue-concave-50 {
    @include nue-concave(0.5em);
}
.nue-concave-25 {
    @include nue-concave(0.25em);
}

@mixin nue-pressed($amount) {
    background: rgba($clr-bg-primary, 0.85);
    box-shadow: (- $amount) (- $amount) (2 * $amount) rgba($clr-neu-shadow-1, 0),
                $amount $amount (2 * $amount) rgba($clr-neu-shadow-2, 0),
                inset (- $amount) (- $amount) (2 * $amount) $clr-neu-shadow-1,
                inset $amount $amount (2 * $amount) $clr-neu-shadow-2;
}
.nue-pressed-75 {
    @include nue-pressed(0.75em);
}
.nue-pressed-50 {
    @include nue-pressed(0.5em);
}
.nue-pressed-25 {
    @include nue-pressed(0.25em);
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
}

a, button {
    border-radius: 3px;

    &:focus-visible {
        color: $clr-accent;
        outline: 3px solid $clr-accent;
        outline-offset: 3px;
    }
}

a:not(.nav-link, .footer-link, .nue-card-sm, .nue-card) {
    &:visited {
        color: color-mix(in srgb, $clr-gradient-primary-3 30%, $clr-text-secondary);
    }
}

a:not(.nav-link, .nue-card-sm, .nue-card) {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
        color: $clr-accent;
    }
}

input:not(#team-search), textarea {
    border: $clr-neu-shadow-2 2px solid;
    &:focus-visible {
        border: transparent 2px solid;
        outline: $clr-accent 2px solid;
    }

    &::placeholder {
        display: block;
        font-weight: 300;
    }
}

.form-control {
    --size: 1.2em;
    --inner-size: 0.7em;
    display: grid;
    align-items: center;
    grid-template-columns: var(--size) auto;
    gap: 0.5em;
    cursor: pointer;

    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;

        display: grid;
        place-content: center;
        width: var(--size);
        height: var(--size);
        color: currentColor;
        border: 0.1rem currentColor solid;
        border-radius: 0.4em;
        cursor: pointer;
    
        &::before {
            content: "";
            width: var(--inner-size);
            height: var(--inner-size);
            
            border-radius: 0.2em;
            transform: scale(0);
            transition: 150ms transform cubic-bezier(0.4, 0, 0.2, 1);
            box-shadow: inset var(--size) var(--size) $clr-accent;
        }
        &:checked::before {
            transform: scale(1);
        }
    }
}

.btn-nue-50 {
    @include nue-concave(0.5em);

    &:active {
        @include nue-pressed(0.5em);
    }
}
.btn-nue-25 {
    @include nue-concave(0.25em);

    &:active {
        @include nue-pressed(0.25em);
    }
}

.nue-card-md {
    @include nue-concave(0.75em);
    @include frost(0.25em);

    &:is(button, a):active {
        @include nue-pressed(0.75em);
    }
}

.nue-card-sm {
    @include nue-concave(0.5em);
    @include frost(0.25em);

    &:is(button, a):active {
        @include nue-pressed(0.5em);
    }
}

.card-rounded{
    border-radius: 2rem 2rem 0 0;
}



/* -------------------------- SELECTION -------------------------- */
::selection, ::-webkit-selection {
    color: $clr-bg-primary;
    text-fill-color: $clr-bg-primary;
    -moz-text-fill-color: $clr-bg-primary;
    -webkit-text-fill-color: $clr-bg-primary;
    background: $clr-text-primary;
}



/* -------------------------- SCROLLBAR -------------------------- */
$scrollbar-width: 24px;
::-webkit-scrollbar {
    width: calc(0.6 * $scrollbar-width);
    background: transparent;
    overflow-y: hidden;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: color-mix(in srgb, $clr-text-primary, $clr-bg-primary 70%);
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $clr-gradient-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    border-radius: calc(0.6 * $scrollbar-width);
}