@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------------------------- BREAKPOINTS ---------------------------
 *  sm     md     lg     xl     2xl
 * 576px  768px  992px  1200px 1400px
 */



/* --------------------------- COLOR THEME --------------------------- */
$clr-text-primary: #464A53;
$clr-text-secondary: #B0B1B5;
$clr-bg-primary: #EBECF2;
$clr-bg-secondary: #D9D9D9; // E3E3E3
$clr-accent: hsla(225, 100%, 75%, 1);

$clr-gradient-primary-1: hsla(185, 100%, 75%, 1);
$clr-gradient-primary-2: hsla(225, 100%, 75%, 1);
$clr-gradient-primary-3: hsla(265, 100%, 75%, 1);
$clr-gradient-primary: linear-gradient(60deg, $clr-gradient-primary-1 0%, $clr-gradient-primary-2 50%, $clr-gradient-primary-3 100%);

$clr-neu-fill-1: #D4D4DA;
$clr-neu-fill-2: #FBFDFF;
$clr-neu-shadow-1: #FFFFFF;
$clr-neu-shadow-2: #BCBDC2;



/* --------------------------- BODY+NAVBAR --------------------------- */
body {
    overflow-x: hidden;
    overflow-y: overlay !important;
    scrollbar-gutter: stable both-edges;

    // TODO: Test after pull #51890 merge into stable
    font-family: var(--font-space-grotesk), "Noto Sans TC", sans-serif;
    // font-family: var(--font-space-grotesk), var(--font-noto-sans-tc);
}

.nav-link {
    --spacing: 0.2em;
    position: relative;
    
    letter-spacing: var(--spacing);
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - var(--spacing));
        height: 0.1rem;
        left: 0;
        bottom: -0.15em;

        background: $clr-text-primary;
        border-radius: 100vw;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }
}



/* --------------------------- LAYOUTS --------------------------- */
.wrapper {
    --margin: 4rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: min(100% - var(--margin), 1400px);
    margin-inline: auto;

    @media screen and (min-width: 576px) {
        --margin: 6rem;
    }
}

.swiper {
    display: grid;
    max-width: 100%;
    padding: 4rem;
    gap: 6rem;
    grid-auto-flow: column;
    grid-auto-columns: max(40%, 300px);

    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}
.snap-inline {
    scroll-snap-type: inline mandatory;
}



/* ---------------------------- STYLE ---------------------------- */
@mixin frost($amount) {
    backdrop-filter: blur($amount);
    -ms-backdrop-filter: blur($amount);
    -moz-backdrop-filter: blur($amount);
    -webkit-backdrop-filter: blur($amount);
}
.frost-25 {
    @include frost(0.25em);
}
.frost-50 {
    @include frost(0.5em);
}

.banner-filter {
    background: rgba($clr-bg-primary, 0.4);
    box-shadow: 0.5rem 0 1rem 0.1rem rgba($clr-neu-shadow-2, 0.5);
}

.nue-concave {
    background: linear-gradient(135deg, rgba($clr-neu-fill-1, 0.85), rgba($clr-neu-fill-2, 0.85));
    box-shadow: -0.75em -0.75em 1.5em $clr-neu-shadow-1,
                0.75em 0.75em 1.5em $clr-neu-shadow-2;
}
.nue-pressed {
    background: rgba($clr-bg-primary, 0.85);
    box-shadow: inset -0.75em -0.75em 1.5em $clr-neu-shadow-1,
                inset 0.75em 0.75em 1.5em $clr-neu-shadow-2;
    
}
.team-card-shadow {
    box-shadow: 0.3rem 0.3rem 0.25rem 0rem $clr-card-shadow,
                0rem 0.25rem 0.25rem 0rem $clr-card-shadow;
}
.comments-shadow {
    box-shadow: 0 0 4px $clr-card-shadow;
}
.search-shadow {
    background: $clr-bg-primary;
    box-shadow: inset 0.4rem 0.4rem 0.8rem 0rem $clr-neu-shadow-2,
                inset -0.4rem -0.4rem 0.8rem 0rem $clr-neu-shadow-1;
}
iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
}

a, button {
    border-radius: 3px;

    &:focus-visible {
        color: $clr-accent;
        outline: 3px solid $clr-accent;
        outline-offset: 3px;
    }
}

@media (min-width: 768px) {
    .md\:card-rounded {
        border-radius: 2rem 2rem 0 0;
    }
}

.picture-rounded {
    border-radius: 2rem 2rem 0 0;
}


/* ---------------------------- COLORS --------------------------- */
.bg-primary {
    background-color: $clr-bg-primary;
}
.bg-primary-invert {
    background-color: $clr-text-primary;
}
.bg-secondary {
    background-color: $clr-bg-secondary;
}
.bg-accent {
    background-color: $clr-accent;
}

.text-primary {
    color: $clr-text-primary;
    // fill: $clr-text-primary;
}
.text-primary-invert {
    color: $clr-bg-primary;
}
.text-secondary {
    color: $clr-text-secondary;
}
.text-accent {
    color: $clr-accent;
}



/* ---------------------------- TEXTS ---------------------------- */
h1, h2 {
    max-width: fit-content;
    text-wrap: balance;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;

    @media screen and (min-width: 576px) {
        font-size: 3.5em;
    }
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 2;
    text-align: justify;
}

.text-info {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 2;
    text-align: center;
} 

.text-primary-gradient {
    background: $clr-gradient-primary;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.text-title {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 4rem;
}

.text-tag{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: $clr-text-primary;
}

.text-sec-title {
    font-weight: 700;
    font-size: 1.375rem;
    color: $clr-text-primary;
}

.text-discrip {
    font-style: normal;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2rem;
    text-align: justify;
    color: $clr-text-primary;
}

.text-board {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: justify;
    color: $clr-text-board;
}

.text-comment {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: 0.05rem;
    text-align: justified;
}

.team-title {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 設置行數 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // margin-bottom: -0.7rem;
}


@mixin bracket($fontSize: 175%, $fontWeight: normal) {
    display: flex;
    gap: 0.4ch;
    align-items: center;
    justify-content: center;

    &:before, &:after {
        display: inline-block;
        font-size: $fontSize;
        font-weight: $fontWeight;
        transform: translateY(-0.1em);
    }
    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }
}
.bracket-md {
    @include bracket;
}

.bracket-lg {
    @include bracket(250%, 300);
}



/* -------------------------- SELECTION -------------------------- */
::selection, ::-webkit-selection {
    color: $clr-bg-primary;
    text-fill-color: $clr-bg-primary;
    -moz-text-fill-color: $clr-bg-primary;
    -webkit-text-fill-color: $clr-bg-primary;
    background: $clr-text-primary;
}



/* -------------------------- SCROLLBAR -------------------------- */
$scrollbar-width: 24px;
::-webkit-scrollbar {
    width: calc(0.6 * $scrollbar-width);
    background: transparent;
    overflow-y: hidden;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $clr-text-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: calc(0.2 * $scrollbar-width) solid transparent;
    background: $clr-gradient-primary;
    border-radius: calc(0.6 * $scrollbar-width);
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    border-radius: calc(0.6 * $scrollbar-width);
}