@tailwind base;
@tailwind components;
@tailwind utilities;



/* Breakpoints
 *  es     sm     md     lg     xl     xxl
 * 576px  576px  768px  992px  1200px 1400px
 */



/* --------------------------- COLOR THEME --------------------------- */
:root {
    --text-primary: #464A53;
    --bg-primary: #EBECF2;
    --gradient-primary-c1: hsla(185, 100%, 80%, 1);
    --gradient-primary-c2: hsla(225, 100%, 80%, 1);
    --gradient-primary-c3: hsla(265, 100%, 80%, 1);
    --gradient-primary: linear-gradient(60deg, var(--gradient-primary-c1) 0%, var(--gradient-primary-c2) 50%, var(--gradient-primary-c3) 100%);

    --neu-shadow-c1: #FFFFFF;
    --neu-shadow-c2: #BCBDC2;
}
    
[data-theme='dark'] {
    --text-primary: #FFFFFF;
    --bg-primary: #26282C;
}



/* --------------------------- BODY+NAVBAR --------------------------- */
body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    /* ? Navbar is fixed, therefore it does not count as a row inside this grid */
    grid-template-rows: 1fr auto;
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;

    /* ! Use Google font inside <head> instead of next/font/google (temp) */
    /* font-family: var(--font-space-grotesk), var(--font-noto-sans-tc); */
    font-family: "Space Grotesk", "Noto Sans TC", sans-serif;
	color: var(--text-primary);
	background: var(--bg-primary);
}

.navbar-nav {
    column-gap: 4.5em;
    font-size: 0.875em;
}



/* -------------------------- HOME PAGE -------------------------- */
.banner {
    height: 100lvh;
}

.frosted {
    --base: 0.5rem;

    box-shadow: var(--base) var(--base) calc(2 * var(--base)) hsla(230, 5%, 75%, 0.65);
    backdrop-filter: blur(var(--base));
    -ms-backdrop-filter: blur(var(--base));
    -moz-backdrop-filter: blur(var(--base));
    -webkit-backdrop-filter: blur(var(--base));
    background: hsla(0, 0%, 100%, 0.4);
}

.banner-img {
    transform: scale(1.5) translateX(17.5%) translateY(12.5%);
}



/* ---------------------------- FOOTER --------------------------- */
footer {
    height: 6rem;
    background: var(--text-primary);
}



/* ---------------------------- TEXTS ---------------------------- */
.text-primary-gradient {
    background: var(--gradient-primary);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 1em;
    line-height: 2;
    text-align: justify;
}



/* -------------------------- SCROLLBAR -------------------------- */
::-webkit-scrollbar {
    width: 12px;
    background: transparent;
    overflow-y: hidden;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background: var(--text-primary);
    border-radius: 12px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background: var(--gradient-primary);
    border-radius: 12px;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    border-radius: 12px;
}



/* -------------------------- SELECTION -------------------------- */
::selection {
    color: var(--bg-primary);
    background: var(--text-primary);
}
::-moz-selection {
    color: var(--bg-primary);
    background: var(--text-primary);
}